.hero{
    width: 100%;
    height:100vh;//podria ser % desp veo
    position: relative;
}

.hero-mid{
    width: 100%;
    height:70vh;//podria ser % desp veo
    position: relative;

    h1{
        padding-top: 4rem !important;
    }
    }

    

img{
    width: 100%;
    height:100%;
    object-fit: cover;

}

.hero-text{
    text-align: center;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h1{
        font-size: 3rem;
        font-weight: 800;
        background: whitesmoke;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p{
        font-size: 1.3rem;
        color: whitesmoke;
        padding: 0.5rem 0 2rem 0;
    }

    .show{ // este es el boton(para mostrarlo)
        text-decoration: none;
        background: white;
        padding: 1rem 2rem;
        border-radius: 6px;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 2px;
        color: black;
    }
    .hide{ // para esconder el boton
        display:none;
    }
}

@media (max-width: 555px) {
    .hero-text{
        h1{
            padding: 10px 20px;
        }
        p{
            font-size: 1.1rem;
            padding: 0 0 2rem 0 ;
        }
        
        .show{
            padding: .6rem 1.1rem;
            border-radius: 6px;
            font-size: 1rem;
            
        }
        
    }
}